<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLYONFREEFLY</title>
    <link rel="stylesheet" href="../../../public/assets/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3">
                <div class="jumbotron text-center">
                    <p class="lead">Servidor em manutenção</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>